Repository google/heir, pull requests merged in 2024-10, with the labels that each got.

#1002 Add tips for building MLIR and OpenFHE on low-RAM systems
  docs/content/en/docs/development.md
Labels: pull_ready

#1005 ci: disable flakey part of test and fix upstream llvm build
  .pre-commit-config.yaml
  bazel/import_llvm.bzl
  bazel/llvm.patch
  tests/convert_secret_insert_to_static_insert/secret_inserts.mlir
Labels: pull_ready

#1004 jupyter: add preliminary jupyter notebook and scripts
  lib/Transforms/YosysOptimizer/YosysOptimizer.cpp
  scripts/jupyter/HEIR Play.ipynb
  scripts/jupyter/README.md
  scripts/jupyter/heir_play/__init__.py
  scripts/jupyter/heir_play/heir_opt.py
  scripts/jupyter/heir_play/utils.py
  scripts/jupyter/requirements.txt
Labels: pull_ready

#1007 Add logo to favicon, navbar, and homepage
  docs/assets/icons/logo.svg
  docs/content/en/_index.md
  docs/static/favicons/favicon.ico
  docs/static/images/heir_logo.svg
  docs/static/images/heir_logo_211x211.svg
  docs/static/images/heir_logo_256x256.png
  docs/static/images/heir_logo_32x32.svg
Labels: pull_ready

#1001 adds a devcontainer.json
  .devcontainer/cmake/devcontainer.json
  .devcontainer/cmake/setup_mlir.sh
  .devcontainer/devcontainer.json
  .gitignore
Labels: pull_ready, build

#1011 ci: remove unneeded bazel llvm patches
  bazel/import_llvm.bzl
  bazel/llvm.patch
Labels: pull_ready

#1015 CMakeLists update
  lib/Target/OpenFhePke/CMakeLists.txt
Labels: pull_ready

#1014 Fix tests with upstream polynomial RingAttr changes
  lib/Conversion/PolynomialToStandard/PolynomialToStandard.cpp
  tests/polynomial/lower_add.mlir
  tests/polynomial/lower_mul_scalar.mlir
  tests/polynomial/lower_polynomial.mlir
  tests/rns/syntax.mlir
Labels: pull_ready

#923 Design documentation for data-oblivious transformations
  docs/content/en/docs/Design/do_transformation.md
Labels: pull_ready

#1020 pre-compile HEIR in cmake devcontainer
  .devcontainer/cmake/devcontainer.json
  .devcontainer/cmake/setup_heir.sh
Labels: pull_ready, build

#1017 pre-compile HEIR in bazel devcontainer
  .devcontainer/devcontainer.json
Labels: pull_ready, build

#1021 Add config to support publishing heir_play to PyPI
  .gitignore
  scripts/jupyter/LICENSE
  scripts/jupyter/README.md
  scripts/jupyter/pyproject.toml
Labels: pull_ready

#1029 Update CMakeLists.txt for LWEEnums, ForwardInsertToExtract updates
  lib/Dialect/LWE/CMakeLists.txt
  lib/Dialect/LWE/IR/CMakeLists.txt
  lib/Transforms/CMakeLists.txt
  lib/Transforms/ForwardInsertToExtract/CMakeLists.txt
  tools/CMakeLists.txt
Labels: pull_ready

#1025 ci: make some scorecard security suggestions
  .github/workflows/docs.yml
  .github/workflows/nightly.yml
  .github/workflows/scripts_test.yml
  docs/Dockerfile
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
Labels: pull_ready

#998 mod_arith.reduce: require modulus width to be smaller than underlying type width
  lib/Conversion/ModArithToArith/ModArithToArith.cpp
  lib/Conversion/ModArithToArith/ModArithToArith.td
  lib/Dialect/ModArith/IR/ModArithDialect.cpp
  lib/Dialect/ModArith/IR/ModArithOps.td
  tests/mod_arith/invalid-ops.mlir
  tests/mod_arith/mod-arith-to-arith.mlir
  tests/mod_arith/runner/lower_reduce.mlir
Labels: pull_ready

#763 add `--convert-tensor-to-scalars` pass
  lib/Transforms/TensorToScalars/BUILD
  lib/Transforms/TensorToScalars/TensorToScalars.cpp
  lib/Transforms/TensorToScalars/TensorToScalars.h
  lib/Transforms/TensorToScalars/TensorToScalars.td
  tests/Transforms/convert_tensor_to_scalars/BUILD
  tests/Transforms/convert_tensor_to_scalars/convert_tensor_to_scalars.mlir
  tools/BUILD
  tools/heir-opt.cpp
Labels: pull_ready

#842 Adapting the TfheRustBool dialect to pass the packed api + update cggi to tfhe rust bool conversion pass
  lib/Dialect/CGGI/CMakeLists.txt
  lib/Dialect/CGGI/Conversions/CGGIToTfheRustBool/BUILD
  lib/Dialect/CGGI/Conversions/CGGIToTfheRustBool/CGGIToTfheRustBool.cpp
  lib/Dialect/CGGI/IR/BUILD
  lib/Dialect/CGGI/IR/BooleanGates.td
  lib/Dialect/CGGI/IR/CGGIAttributes.h
  lib/Dialect/CGGI/IR/CGGIAttributes.td
  lib/Dialect/CGGI/IR/CGGIDialect.cpp
  lib/Dialect/CGGI/IR/CGGIDialect.h
  lib/Dialect/CGGI/IR/CGGIDialect.td
  lib/Dialect/CGGI/IR/CGGIEnums.h
  lib/Dialect/CGGI/IR/CGGIEnums.td
  lib/Dialect/CGGI/IR/CGGIOps.td
  lib/Dialect/CGGI/IR/CMakeLists.txt
  lib/Dialect/CGGI/Transforms/BUILD
  lib/Dialect/CGGI/Transforms/BooleanVectorizer.cpp
  lib/Dialect/CGGI/Transforms/BooleanVectorizer.h
  lib/Dialect/CGGI/Transforms/Passes.h
  lib/Dialect/CGGI/Transforms/Passes.td
  lib/Dialect/TfheRustBool/CMakeLists.txt
  lib/Dialect/TfheRustBool/IR/BUILD
  lib/Dialect/TfheRustBool/IR/CMakeLists.txt
  lib/Dialect/TfheRustBool/IR/TfheRustBoolAttributes.h
  lib/Dialect/TfheRustBool/IR/TfheRustBoolAttributes.td
  lib/Dialect/TfheRustBool/IR/TfheRustBoolDialect.cpp
  lib/Dialect/TfheRustBool/IR/TfheRustBoolDialect.td
  lib/Dialect/TfheRustBool/IR/TfheRustBoolEnums.h
  lib/Dialect/TfheRustBool/IR/TfheRustBoolEnums.td
  lib/Dialect/TfheRustBool/IR/TfheRustBoolOps.h
  lib/Dialect/TfheRustBool/IR/TfheRustBoolOps.td
  lib/Dialect/TfheRustBool/IR/TfheRustBoolTypes.td
  tests/Dialect/CGGI/Conversions/cggi_to_tfhe_rust_bool/add_bool_packed.mlir
  tests/Dialect/CGGI/Transforms/boolean_vectorizer.mlir
Labels: pull_ready

#1044 Enable lower_mul_* tests
  tests/Dialect/Polynomial/Conversions/heir_polynomial_to_llvm/runner/BUILD
Labels: pull_ready

#1037 Fix tensor type for polynomial-mul-to-ntt
  lib/Dialect/Polynomial/Transforms/NTTRewrites.td
  tests/Dialect/Polynomial/Transforms/ntt_rewrites.mlir
Labels: pull_ready

#1016 Add ILP to select optimal relinearization points
  .github/actionlint.yaml
  .github/workflows/build_and_test.yml
  .github/workflows/nightly.yml
  CMakeLists.txt
  WORKSPACE
  docs/content/en/docs/Design/relinearization_ilp.md
  lib/Analysis/CMakeLists.txt
  lib/Analysis/OptimizeRelinearizationAnalysis/BUILD
  lib/Analysis/OptimizeRelinearizationAnalysis/CMakeLists.txt
  lib/Analysis/OptimizeRelinearizationAnalysis/OptimizeRelinearizationAnalysis.cpp
  lib/Analysis/OptimizeRelinearizationAnalysis/OptimizeRelinearizationAnalysis.h
  lib/Dialect/Utils.h
  lib/Transforms/CMakeLists.txt
  lib/Transforms/OptimizeRelinearization/BUILD
  lib/Transforms/OptimizeRelinearization/CMakeLists.txt
  lib/Transforms/OptimizeRelinearization/OptimizeRelinearization.cpp
  lib/Transforms/OptimizeRelinearization/OptimizeRelinearization.h
  lib/Transforms/OptimizeRelinearization/OptimizeRelinearization.td
  tests/optimize_relinearization/BUILD
  tests/optimize_relinearization/optimize_relinearization.mlir
  tools/BUILD
  tools/CMakeLists.txt
  tools/heir-opt.cpp
Labels: pull_ready

#1049 build: fix format and test reorganization
  docs/content/en/docs/Design/relinearization_ilp.md
  lib/Analysis/OptimizeRelinearizationAnalysis/BUILD
  lib/Analysis/OptimizeRelinearizationAnalysis/OptimizeRelinearizationAnalysis.cpp
  lib/Analysis/OptimizeRelinearizationAnalysis/OptimizeRelinearizationAnalysis.h
  tests/Transforms/optimize_relinearization/BUILD
  tests/Transforms/optimize_relinearization/optimize_relinearization.mlir
Labels: pull_ready

#1050 ci: add abc and yosys share files to nightly
  .github/workflows/nightly.yml
Labels: pull_ready

#1051 ci: fix nightly build
  .github/workflows/nightly.yml
Labels: pull_ready

#1052 demo: add demo notebook for HEIR playground
  .gitignore
  README.md
  scripts/jupyter/Demo.ipynb
  scripts/jupyter/heir_play/__init__.py
Labels: pull_ready

#1059 bump jinja2 version from 3.1.3 to 3.1.4
  requirements-dev.in
  requirements-dev.txt
Labels: pull_ready, dependencies

#1058 rename comb-to-cggi to secret-to-cggi
  docs/content/en/docs/getting_started.md
  lib/Dialect/Comb/Conversions/CombToCGGI/CMakeLists.txt
  lib/Dialect/Comb/Conversions/CombToCGGI/CombToCGGI.h
  lib/Dialect/Comb/Conversions/CombToCGGI/CombToCGGI.td
  lib/Dialect/Secret/Conversions/SecretToCGGI/BUILD
  lib/Dialect/Secret/Conversions/SecretToCGGI/CMakeLists.txt
  lib/Dialect/Secret/Conversions/SecretToCGGI/SecretToCGGI.cpp
  lib/Dialect/Secret/Conversions/SecretToCGGI/SecretToCGGI.h
  lib/Dialect/Secret/Conversions/SecretToCGGI/SecretToCGGI.td
  lib/Utils/ConversionUtils/CMakeLists.txt
  tests/Dialect/Secret/Conversions/secret_to_cggi/BUILD
  tests/Dialect/Secret/Conversions/secret_to_cggi/add_one.mlir
  tests/Dialect/Secret/Conversions/secret_to_cggi/add_one_bool.mlir
  tests/Dialect/Secret/Conversions/secret_to_cggi/bool_ops.mlir
  tests/Dialect/Secret/Conversions/secret_to_cggi/memref_ops.mlir
  tests/Dialect/Secret/Conversions/secret_to_cggi/secret_cast.mlir
  tests/Dialect/Secret/Conversions/secret_to_cggi/secret_generic.mlir
  tests/Dialect/Secret/Conversions/secret_to_cggi/truth_table.mlir
  tests/Dialect/Secret/Conversions/secret_to_cggi/types.mlir
  tools/BUILD
  tools/heir-opt.cpp
Labels: pull_ready

#1063 fix: update `hello_world.tosa.mlir` reference
  docs/content/en/docs/pipelines.md
Labels: pull_ready

#1062 docs: use openfhe context helper for dot_product
  docs/content/en/docs/getting_started.md
  tests/Examples/openfhe/dot_product_8_test.cpp
Labels: pull_ready

#1064 Improve doc generation script
  .github/workflows/copy_tblgen_files.py
  .github/workflows/copy_tblgen_files.sh
  .github/workflows/docs.yml
  docs/README.md
  docs/content/en/docs/Passes/.gitignore
  docs/content/en/docs/Passes/_index.md
  docs/content/en/docs/passes.md
Labels: pull_ready

#1055 add_heir_transforms build macro for bazel
  lib/Transforms/ApplyFolders/BUILD
  lib/Transforms/BUILD
  lib/Transforms/ConvertIfToSelect/BUILD
  lib/Transforms/ConvertSecretExtractToStaticExtract/BUILD
  lib/Transforms/ConvertSecretForToStaticFor/BUILD
  lib/Transforms/ConvertSecretInsertToStaticInsert/BUILD
  lib/Transforms/ConvertSecretWhileToStaticFor/BUILD
  lib/Transforms/ElementwiseToAffine/BUILD
  lib/Transforms/ForwardInsertToExtract/BUILD
  lib/Transforms/ForwardStoreToLoad/BUILD
  lib/Transforms/FullLoopUnroll/BUILD
  lib/Transforms/LinalgCanonicalizations/BUILD
  lib/Transforms/MemrefToArith/BUILD
  lib/Transforms/OperationBalancer/BUILD
  lib/Transforms/OptimizeRelinearization/BUILD
  lib/Transforms/Secretize/BUILD
  lib/Transforms/StraightLineVectorizer/BUILD
  lib/Transforms/TensorToScalars/BUILD
  lib/Transforms/UnusedMemRef/BUILD
  lib/Transforms/YosysOptimizer/BUILD
  lib/Transforms/transforms.bzl
Labels: pull_ready

#1071 ci: fix require-hashes for pip upgrade
  .github/workflows/scripts_test.yml
Labels: pull_ready
