Repository google/heir, pull requests merged in 2024-12, with the labels that each got.

#1133 ModArith: cleanup on dump()
  lib/Dialect/ModArith/IR/ModArithDialect.cpp
Labels: pull_ready

#1128 bgv-to-openfhe: populate ConvertAddPlainOp pattern
  lib/Dialect/BGV/Conversions/BGVToOpenfhe/BGVToOpenfhe.cpp
Labels: pull_ready

#1127 openfhe emitter: register mod arith dialect
  lib/Target/OpenFhePke/OpenFheTranslateRegistration.cpp
Labels: pull_ready

#1129 openfhe: support cyclic repetition for MakePackedPlaintext
  docs/content/en/docs/getting_started.md
  lib/Target/OpenFhePke/OpenFhePkeEmitter.cpp
  tests/Examples/openfhe/BUILD
  tests/Examples/openfhe/box_blur_test.cpp
  tests/Examples/openfhe/dot_product_8_test.cpp
  tests/Examples/openfhe/dot_product_8f.mlir
  tests/Examples/openfhe/dot_product_8f_test.cpp
  tests/Examples/openfhe/halevi_shoup_matmul_test.cpp
  tests/Examples/openfhe/naive_matmul_test.cpp
  tests/Examples/openfhe/roberts_cross_test.cpp
  tests/Examples/openfhe/simple_sum_test.cpp
  tests/Transforms/mlir_to_openfhe_ckks/naive_matmul.mlir
Labels: pull_ready

#1131 Generate Alias for RLWE, ModArith, and Polynomial
  lib/Dialect/LWE/IR/LWEDialect.cpp
  lib/Dialect/ModArith/IR/ModArithDialect.cpp
  lib/Dialect/Polynomial/IR/PolynomialDialect.cpp
  tests/Dialect/BGV/Conversions/bgv_to_openfhe/bgv_to_openfhe.mlir
  tests/Dialect/BGV/Conversions/bgv_to_openfhe/cast.mlir
  tests/Dialect/BGV/Conversions/bgv_to_openfhe/linear_polynomial.mlir
  tests/Dialect/BGV/Conversions/bgv_to_polynomial/to_polynomial.mlir
  tests/Dialect/BGV/IR/ops.mlir
  tests/Dialect/CKKS/Conversions/ckks_to_openfhe/cast.mlir
  tests/Dialect/CKKS/Conversions/ckks_to_openfhe/ckks_to_openfhe.mlir
  tests/Dialect/CKKS/Conversions/ckks_to_openfhe/linear_polynomial.mlir
  tests/Dialect/CKKS/IR/ops.mlir
  tests/Dialect/LWE/Conversions/lwe_to_polynomial/types.mlir
  tests/Dialect/LWE/IR/alias.mlir
  tests/Dialect/ModArith/IR/alias.mlir
  tests/Dialect/ModArith/IR/syntax.mlir
  tests/Dialect/Polynomial/Conversions/heir_polynomial_to_llvm/lower_add.mlir
  tests/Dialect/Polynomial/Conversions/heir_polynomial_to_llvm/lower_monomial_mul.mlir
  tests/Dialect/Polynomial/Conversions/heir_polynomial_to_llvm/lower_mul.mlir
  tests/Dialect/Polynomial/IR/alias.mlir
  tests/Dialect/Polynomial/Transforms/elementwise_to_affine.mlir
  tests/Dialect/Secret/Conversions/secret_to_bgv/ciphertext_plaintext.mlir
  tests/Dialect/Secret/Conversions/secret_to_bgv/ops.mlir
  tests/Dialect/Secret/Conversions/secret_to_ckks/ciphertext_plaintext.mlir
  tests/Dialect/Secret/Conversions/secret_to_ckks/matmul_loop.mlir
  tests/Dialect/Secret/Conversions/secret_to_ckks/matmul_unrolled.mlir
  tests/Dialect/Secret/Conversions/secret_to_ckks/ops.mlir
  tests/Dialect/Secret/Conversions/secret_to_ckks/type_converter.mlir
  tests/Transforms/mlir_to_openfhe_ckks/matmul.mlir
  tests/Transforms/optimize_relinearization/optimize_relinearization.mlir
Labels: pull_ready

#1139 Secretize cleanup
  docs/content/en/docs/getting_started.md
  lib/Pipelines/ArithmeticPipelineRegistration.cpp
  lib/Pipelines/ArithmeticPipelineRegistration.h
  lib/Transforms/Secretize/Passes.td
  lib/Transforms/Secretize/Secretize.cpp
  lib/Transforms/Secretize/WrapGeneric.cpp
  scripts/jupyter/Demo.ipynb
  tests/Dialect/Secret/Transforms/secretize/missing.mlir
  tests/Dialect/Secret/Transforms/secretize/multiple.mlir
  tests/Dialect/Secret/Transforms/secretize/named.mlir
  tests/Dialect/TensorExt/Transforms/simd_pack.mlir
  tests/Examples/openfhe/box_blur_64x64.mlir
  tests/Examples/openfhe/dot_product_8.mlir
  tests/Examples/openfhe/dot_product_8f.mlir
  tests/Examples/openfhe/halevi_shoup_matmul.mlir
  tests/Examples/openfhe/naive_matmul.mlir
  tests/Examples/openfhe/roberts_cross_64x64.mlir
  tests/Examples/openfhe/simple_sum.mlir
  tests/Transforms/data_oblivious/convert_to_data_oblivious.mlir
  tests/Transforms/heir_simd_vectorizer/box_blur_4x4.mlir
  tests/Transforms/heir_simd_vectorizer/box_blur_64x64.mlir
  tests/Transforms/heir_simd_vectorizer/dot_product_8.mlir
  tests/Transforms/heir_simd_vectorizer/gx_kernel_64x64.mlir
  tests/Transforms/heir_simd_vectorizer/gx_kernel_8x8.mlir
  tests/Transforms/heir_simd_vectorizer/hamming_distance.mlir
  tests/Transforms/heir_simd_vectorizer/linear_polynomial_64.mlir
  tests/Transforms/heir_simd_vectorizer/quadratic_polynomial.mlir
  tests/Transforms/heir_simd_vectorizer/roberts_cross_4x4.mlir
  tests/Transforms/heir_simd_vectorizer/roberts_cross_64x64.mlir
  tests/Transforms/heir_simd_vectorizer/simple_sum.mlir
  tests/Transforms/mlir_to_openfhe_bgv/simple_sum.mlir
  tests/Transforms/mlir_to_openfhe_ckks/dot_product_float.mlir
  tests/Transforms/mlir_to_openfhe_ckks/matmul.mlir
  tests/Transforms/mlir_to_openfhe_ckks/naive_matmul.mlir
  tests/Transforms/mlir_to_openfhe_ckks/simple_sum.mlir
  tests/Transforms/secretize/BUILD
  tests/Transforms/secretize/idempotent.mlir
  tests/Transforms/secretize/main.mlir
  tests/Transforms/secretize/missing.mlir
  tests/Transforms/secretize/multiple.mlir
  tests/Transforms/secretize/named.mlir
  tools/heir-opt.cpp
Labels: pull_ready, dialect: secret

#1141 Fix RingAttr alias and Add RNSType alias
  lib/Dialect/Polynomial/IR/PolynomialDialect.cpp
  lib/Dialect/RNS/IR/RNSDialect.cpp
  tests/Dialect/RNS/IR/alias.mlir
Labels: pull_ready

#1154 transforms: re-run analysis when needed by subsequent rewrite
  lib/Analysis/SecretnessAnalysis/SecretnessAnalysis.cpp
  lib/Analysis/SecretnessAnalysis/SecretnessAnalysis.h
  lib/Transforms/AnnotateSecretness/AnnotateSecretness.cpp
  lib/Transforms/ConvertIfToSelect/ConvertIfToSelect.cpp
  lib/Transforms/ConvertSecretExtractToStaticExtract/ConvertSecretExtractToStaticExtract.cpp
  lib/Transforms/ConvertSecretInsertToStaticInsert/ConvertSecretInsertToStaticInsert.cpp
  tests/Transforms/data_oblivious/convert_if_to_select/secret_conditionals.mlir
Labels: pull_ready

#1155 ensure optimize-relinearization variable names are unique
  lib/Analysis/OptimizeRelinearizationAnalysis/OptimizeRelinearizationAnalysis.cpp
  lib/Analysis/OptimizeRelinearizationAnalysis/OptimizeRelinearizationAnalysis.h
  lib/Pipelines/ArithmeticPipelineRegistration.cpp
  lib/Pipelines/BUILD
  lib/Transforms/OptimizeRelinearization/OptimizeRelinearization.cpp
  lib/Transforms/OptimizeRelinearization/OptimizeRelinearization.td
Labels: pull_ready

#1156 add `--operation-balancer` to `--mlir-to-secret-arithmetic` pipeline
  lib/Pipelines/ArithmeticPipelineRegistration.cpp
  lib/Pipelines/BUILD
Labels: pull_ready

#1164 fix crash in RotateAndReduce
  lib/Dialect/TensorExt/Transforms/RotateAndReduce.cpp
  tests/Dialect/TensorExt/Transforms/rotate_and_reduce.mlir
Labels: pull_ready

#1163 Fix/Workaround for type mismatch after CollapseSecretlessGeneric
  lib/Dialect/Secret/IR/SecretOps.cpp
  lib/Dialect/Secret/IR/SecretPatterns.cpp
  lib/Dialect/Secret/IR/SecretPatterns.h
  tests/Dialect/Secret/Transforms/canonicalize/secretless.mlir
Labels: pull_ready, dialect: secret

#1137 Add an MVP python frontend
  .github/workflows/scripts_test.yml
  WORKSPACE
  bazel/openfhe/cereal.BUILD
  bazel/openfhe/openfhe.BUILD
  bazel/openfhe/rapidjson.BUILD
  heir_py/BUILD
  heir_py/README.md
  heir_py/__init__.py
  heir_py/clang.py
  heir_py/example.py
  heir_py/heir_backend.py
  heir_py/heir_config.py
  heir_py/mlir_emitter.py
  heir_py/openfhe_config.py
  heir_py/pipeline.py
  heir_py/pipeline_test.py
  heir_py/pybind_helpers.py
  heir_py/requirements.txt
  heir_py/testing.bzl
  lib/Target/OpenFhePke/BUILD
  lib/Target/OpenFhePke/OpenFhePkeEmitter.cpp
  lib/Target/OpenFhePke/OpenFhePkeEmitter.h
  lib/Target/OpenFhePke/OpenFhePkeHeaderEmitter.cpp
  lib/Target/OpenFhePke/OpenFhePkeHeaderEmitter.h
  lib/Target/OpenFhePke/OpenFhePkePybindEmitter.cpp
  lib/Target/OpenFhePke/OpenFhePkePybindEmitter.h
  lib/Target/OpenFhePke/OpenFhePkeTemplates.h
  lib/Target/OpenFhePke/OpenFheTranslateRegistration.cpp
  lib/Target/OpenFhePke/OpenFheTranslateRegistration.h
  lib/Target/OpenFhePke/OpenFheUtils.cpp
  lib/Target/OpenFhePke/OpenFheUtils.h
  tests/Dialect/Openfhe/Emitters/emit_pybind.mlir
  tests/Examples/openfhe/BUILD
  tests/Examples/openfhe/test.bzl
  tools/heir-translate.cpp
Labels: pull_ready, python

#1125 Arith to ModArith Conversion pass and Mac Transformer pass
  .pre-commit-config.yaml
  lib/Dialect/Arith/Conversions/ArithToModArith/ArithToModArith.cpp
  lib/Dialect/Arith/Conversions/ArithToModArith/ArithToModArith.h
  lib/Dialect/Arith/Conversions/ArithToModArith/ArithToModArith.td
  lib/Dialect/Arith/Conversions/ArithToModArith/BUILD
  lib/Dialect/Arith/Conversions/ArithToModArith/CMakeLists.txt
  lib/Dialect/ModArith/CMakeLists.txt
  lib/Dialect/ModArith/Transforms/BUILD
  lib/Dialect/ModArith/Transforms/ConvertToMac.cpp
  lib/Dialect/ModArith/Transforms/ConvertToMac.h
  lib/Dialect/ModArith/Transforms/Passes.h
  lib/Dialect/ModArith/Transforms/Passes.td
  lib/Dialect/Utils.h
  lib/Pipelines/ArithmeticPipelineRegistration.cpp
  lib/Pipelines/ArithmeticPipelineRegistration.h
  lib/Pipelines/BUILD
  lib/Pipelines/BooleanPipelineRegistration.cpp
  lib/Utils/ConversionUtils/ConversionUtils.cpp
  lib/Utils/ConversionUtils/ConversionUtils.h
  tests/Dialect/Arith/Conversions/ArithToModArith/BUILD
  tests/Dialect/Arith/Conversions/ArithToModArith/arith-to-mod-arith.mlir
  tests/Dialect/ModArith/Transforms/BUILD
  tests/Dialect/ModArith/Transforms/find_mac.mlir
  tools/BUILD
  tools/heir-opt.cpp
Labels: pull_ready

#1165 [poly][mod_arith] Update `fastNTT` to emit mod_arith ops
  lib/Dialect/ModArith/Conversions/ModArithToArith/ModArithToArith.cpp
  lib/Dialect/Polynomial/Conversions/PolynomialToModArith/PolynomialToModArith.cpp
  lib/Dialect/Polynomial/IR/BUILD
  lib/Dialect/Polynomial/IR/PolynomialOps.cpp
  lib/Dialect/Polynomial/IR/PolynomialOps.td
  lib/Transforms/ElementwiseToAffine/ElementwiseToAffine.cpp
  tests/Dialect/Polynomial/Conversions/heir_polynomial_to_llvm/lower_intt.mlir
  tests/Dialect/Polynomial/Conversions/heir_polynomial_to_llvm/lower_intt_runner.mlir
  tests/Dialect/Polynomial/Conversions/heir_polynomial_to_llvm/lower_ntt.mlir
  tests/Dialect/Polynomial/Conversions/heir_polynomial_to_llvm/lower_ntt_runner.mlir
  tests/Dialect/Polynomial/Conversions/heir_polynomial_to_llvm/runner/lower_ntt_perf_runner.mlir
  tests/Dialect/Polynomial/Conversions/heir_polynomial_to_llvm/runner/ntt_benchmark.mlir
  tests/Dialect/Polynomial/IR/canonicalization.mlir
  tests/Dialect/Polynomial/IR/mod_arith_coefficients.mlir
Labels: pull_ready

#1184 Add decorator to Python frontend
  heir_py/BUILD
  heir_py/__init__.py
  heir_py/decorator.py
  heir_py/e2e_test.py
  heir_py/heir_config.py
  heir_py/openfhe_config.py
  heir_py/pipeline.py
  heir_py/pipeline_test.py
Labels: pull_ready, python

#1182 Lattigo: BGV: add relinearize/mod reduce/rotate
  lib/Dialect/BGV/Conversions/BGVToLattigo/BGVToLattigo.cpp
  lib/Dialect/LWE/Conversions/RlweToLattigo/RlweToLattigo.h
  lib/Dialect/Lattigo/IR/LattigoBGVOps.td
  lib/Dialect/Lattigo/IR/LattigoRLWEOps.td
  lib/Dialect/Lattigo/IR/LattigoRLWETypes.td
  lib/Dialect/Lattigo/IR/LattigoTypes.td
  lib/Target/Lattigo/LattigoEmitter.cpp
  lib/Target/Lattigo/LattigoEmitter.h
  tests/Dialect/BGV/Conversions/bgv_to_lattigo/bgv_to_lattigo.mlir
  tests/Dialect/Lattigo/Emitters/emit_lattigo.mlir
  tests/Dialect/Lattigo/IR/ops.mlir
Labels: pull_ready, dialect: bgv, dialect: lattigo

#1183 optimize-relinearization: migrate to mgmt dialect level
  lib/Analysis/DimensionAnalysis/DimensionAnalysis.cpp
  lib/Analysis/DimensionAnalysis/DimensionAnalysis.h
  lib/Analysis/OptimizeRelinearizationAnalysis/BUILD
  lib/Analysis/OptimizeRelinearizationAnalysis/OptimizeRelinearizationAnalysis.cpp
  lib/Analysis/OptimizeRelinearizationAnalysis/OptimizeRelinearizationAnalysis.h
  lib/Analysis/SecretnessAnalysis/SecretnessAnalysis.cpp
  lib/Analysis/SecretnessAnalysis/SecretnessAnalysis.h
  lib/Pipelines/ArithmeticPipelineRegistration.cpp
  lib/Transforms/OptimizeRelinearization/BUILD
  lib/Transforms/OptimizeRelinearization/OptimizeRelinearization.cpp
  lib/Transforms/OptimizeRelinearization/OptimizeRelinearization.td
  tests/Transforms/optimize_relinearization/optimize_relinearization.mlir
Labels: pull_ready

#1189 Openfhe: get mulDepth from LWE type
  lib/Analysis/MulDepthAnalysis/BUILD
  lib/Analysis/MulDepthAnalysis/CMakeLists.txt
  lib/Analysis/MulDepthAnalysis/MulDepthAnalysis.cpp
  lib/Analysis/MulDepthAnalysis/MulDepthAnalysis.h
  lib/Dialect/Openfhe/Transforms/BUILD
  lib/Dialect/Openfhe/Transforms/ConfigureCryptoContext.cpp
  tests/Dialect/Openfhe/Transforms/configure_crypto_context.mlir
  tests/Dialect/Openfhe/Transforms/configure_crypto_context_complex.mlir
Labels: pull_ready, dialect: openfhe

#1188 Improved debug info for heir_py compiler pipeline
  heir_py/__init__.py
  heir_py/decorator.py
  heir_py/openfhe_config.py
  heir_py/pipeline.py
Labels: pull_ready, python

#1205 Replace the genericConversionOp in the CGGI conversion passes by Utils implementation
  lib/Dialect/CGGI/Conversions/CGGIToTfheRust/CGGIToTfheRust.cpp
  lib/Dialect/CGGI/Conversions/CGGIToTfheRustBool/CGGIToTfheRustBool.cpp
Labels: pull_ready

#1201 SecretnessAnalysis: add interface method for dependent analysis
  lib/Analysis/DimensionAnalysis/DimensionAnalysis.cpp
  lib/Analysis/DimensionAnalysis/DimensionAnalysis.h
  lib/Analysis/LevelAnalysis/LevelAnalysis.cpp
  lib/Analysis/LevelAnalysis/LevelAnalysis.h
  lib/Analysis/MulResultAnalysis/MulResultAnalysis.cpp
  lib/Analysis/MulResultAnalysis/MulResultAnalysis.h
  lib/Analysis/SecretnessAnalysis/SecretnessAnalysis.h
Labels: pull_ready, dialect: secret

#1204 Attributes: stop including BuiltinAttributes
  lib/Dialect/BGV/IR/BGVOps.td
  lib/Dialect/CKKS/IR/CKKSOps.td
  lib/Dialect/Mgmt/IR/MgmtAttributes.td
  lib/Dialect/ModArith/IR/ModArithAttributes.td
  lib/Dialect/Polynomial/IR/PolynomialAttributes.td
Labels: pull_ready, documentation

#1208 lwe: cleanup old rlwe encoding
  lib/Dialect/LWE/Conversions/LWEToPolynomial/LWEToPolynomial.cpp
  lib/Dialect/LWE/IR/LWEAttributes.td
  lib/Dialect/LWE/IR/LWEDialect.cpp
  tests/Dialect/BGV/Conversions/bgv_to_lattigo/bgv_to_lattigo.mlir
  tests/Dialect/LWE/Conversions/lwe_to_polynomial/BUILD
  tests/Dialect/LWE/IR/attributes.mlir
  tests/Dialect/LWE/IR/attributes_errors.mlir
Labels: pull_ready, dialect: lwe

#1195 openfhe: add bootstrap op
  lib/Dialect/Openfhe/IR/OpenfheOps.td
  lib/Dialect/Openfhe/Transforms/ConfigureCryptoContext.cpp
  lib/Dialect/Openfhe/Transforms/Passes.td
  lib/Target/OpenFhePke/OpenFhePkeEmitter.cpp
  lib/Target/OpenFhePke/OpenFhePkeEmitter.h
  tests/Dialect/Openfhe/IR/ops.mlir
  tests/Dialect/Openfhe/Transforms/configure_crypto_context_bootstrap.mlir
  tests/Examples/openfhe/BUILD
  tests/Examples/openfhe/simple_ckks_bootstrapping.mlir
  tests/Examples/openfhe/simple_ckks_bootstrapping_test.cpp
Labels: pull_ready, dialect: openfhe

#1231 [docs] Note to run pre-commit
  docs/content/en/docs/contributing.md
Labels: pull_ready

#1223 doc: add graphviz output for dot-product example
  docs/content/en/docs/getting_started.md
  docs/static/images/dot_product_8.svg
Labels: pull_ready

#1222 update template generator for DialectTransforms
  scripts/templates/DialectTransforms/lib/BUILD.jinja
Labels: pull_ready

#1220 Cleanup deprecated applyPatternsAndFoldGreedily
  lib/Dialect/CGGI/Transforms/ExpandLUT.cpp
  lib/Dialect/LinAlg/Conversions/LinalgToTensorExt/LinalgToTensorExt.cpp
  lib/Dialect/ModArith/Transforms/ConvertToMac.cpp
  lib/Dialect/Polynomial/Transforms/NTTRewrites.cpp
  lib/Dialect/Secret/Conversions/SecretToCGGI/SecretToCGGI.cpp
  lib/Dialect/Secret/Transforms/CaptureGenericAmbientScope.cpp
  lib/Dialect/Secret/Transforms/DistributeGeneric.cpp
  lib/Dialect/Secret/Transforms/MergeAdjacentGenerics.cpp
  lib/Dialect/TOSA/Conversions/TosaToSecretArith/TosaToSecretArith.cpp
  lib/Dialect/TensorExt/Transforms/CollapseInsertionChains.cpp
  lib/Dialect/TensorExt/Transforms/InsertRotate.cpp
  lib/Transforms/ApplyFolders/ApplyFolders.cpp
  lib/Transforms/ConvertIfToSelect/ConvertIfToSelect.cpp
  lib/Transforms/ConvertSecretExtractToStaticExtract/ConvertSecretExtractToStaticExtract.cpp
  lib/Transforms/ConvertSecretForToStaticFor/ConvertSecretForToStaticFor.cpp
  lib/Transforms/ConvertSecretInsertToStaticInsert/ConvertSecretInsertToStaticInsert.cpp
  lib/Transforms/ConvertSecretWhileToStaticFor/ConvertSecretWhileToStaticFor.cpp
  lib/Transforms/ForwardInsertToExtract/ForwardInsertToExtract.cpp
  lib/Transforms/ForwardStoreToLoad/ForwardStoreToLoad.cpp
  lib/Transforms/LinalgCanonicalizations/LinalgCanonicalizations.cpp
  lib/Transforms/MemrefToArith/ExpandCopy.cpp
  lib/Transforms/TensorToScalars/TensorToScalars.cpp
  lib/Transforms/UnusedMemRef/UnusedMemRef.cpp
  lib/Transforms/YosysOptimizer/YosysOptimizer.cpp
  scripts/templates/DialectTransforms/lib/Pass.cpp.jinja
  scripts/templates/Transforms/lib/Pass.cpp.jinja
Labels: pull_ready
