Repository google/heir, pull requests merged in 2024-08, with the labels that each got.

#851 remove `poly_ext` dialect
  lib/Dialect/CMakeLists.txt
  lib/Dialect/PolyExt/CMakeLists.txt
  lib/Dialect/PolyExt/IR/BUILD
  lib/Dialect/PolyExt/IR/CMakeLists.txt
  lib/Dialect/PolyExt/IR/PolyExtDialect.cpp
  lib/Dialect/PolyExt/IR/PolyExtDialect.h
  lib/Dialect/PolyExt/IR/PolyExtDialect.td
  lib/Dialect/PolyExt/IR/PolyExtOps.h
  lib/Dialect/PolyExt/IR/PolyExtOps.td
  tests/poly_ext/BUILD
  tests/poly_ext/ops.mlir
  tools/BUILD
  tools/CMakeLists.txt
  tools/heir-lsp.cpp
  tools/heir-opt.cpp
Labels: pull_ready

#850 Split `--bgv-to-poly` into `--bgv-to-lwe --lwe-to-polynomial`
  lib/Conversion/BGVToLWE/BGVToLWE.cpp
  lib/Conversion/BGVToLWE/BGVToLWE.h
  lib/Conversion/BGVToLWE/BGVToLWE.td
  lib/Conversion/BGVToLWE/BUILD
  lib/Conversion/BGVToLWE/CMakeLists.txt
  lib/Conversion/BGVToPolynomial/BGVToPolynomial.cpp
  lib/Conversion/BGVToPolynomial/BGVToPolynomial.h
  lib/Conversion/BGVToPolynomial/BGVToPolynomial.td
  lib/Conversion/BGVToPolynomial/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/LWEToPolynomial/LWEToPolynomial.cpp
  lib/Dialect/BGV/IR/BGVOps.td
  lib/Dialect/LWE/IR/BUILD
  lib/Dialect/LWE/IR/LWEDialect.cpp
  lib/Dialect/LWE/IR/LWEOps.h
  lib/Dialect/LWE/IR/LWEOps.td
  lib/Dialect/LWE/IR/LWETraits.td
  lib/Dialect/LWE/IR/LWETypes.td
  scripts/templates/templates.py
  tests/bgv/to_polynomial.mlir
  tools/BUILD
  tools/heir-opt.cpp
Labels: pull_ready, dialect: bgv, dialect: lwe

#789 Restricts ops and dialects
  lib/Transforms/ElementwiseToAffine/ElementwiseToAffine.cpp
  lib/Transforms/ElementwiseToAffine/ElementwiseToAffine.td
  tests/polynomial/elementwise_to_affine.mlir
Labels: pull_ready

#802 Loop Transformation: Secret-dependent scf.for to affine.for with constant bounds
  lib/Analysis/SecretnessAnalysis/SecretnessAnalysis.h
  lib/Transforms/ConvertIfToSelect/ConvertIfToSelect.cpp
  lib/Transforms/ConvertSecretForToStaticFor/BUILD
  lib/Transforms/ConvertSecretForToStaticFor/ConvertSecretForToStaticFor.cpp
  lib/Transforms/ConvertSecretForToStaticFor/ConvertSecretForToStaticFor.h
  lib/Transforms/ConvertSecretForToStaticFor/ConvertSecretForToStaticFor.td
  tests/convert_secret_for_to_static_for/BUILD
  tests/convert_secret_for_to_static_for/invalid_for_loops.mlir
  tests/convert_secret_for_to_static_for/secret_dependent_for_loops.mlir
  tools/BUILD
  tools/heir-opt.cpp
Labels: pull_ready

#863 fix: fix path to abc binary
  tools/BUILD
Labels: pull_ready

#845 CMake update heir-opt after LWEToPolynomial conversion pass was added
  lib/Conversion/CMakeLists.txt
  lib/Conversion/LWEToPolynomial/CMakeLists.txt
  tools/CMakeLists.txt
Labels: pull_ready, build

#864 Add CMake for SecretFor to StaticFor transform
  lib/Transforms/CMakeLists.txt
  lib/Transforms/ConvertSecretForToStaticFor/CMakeLists.txt
  tools/CMakeLists.txt
Labels: pull_ready

#852 documentation updates, especially for IDE setup
  .github/workflows/copy_tblgen_files.sh
  .github/workflows/docs.yml
  docs/.gitignore
  docs/README.md
  docs/content/en/docs/Design/_index.md
  docs/content/en/docs/Dialects/.gitignore
  docs/content/en/docs/Dialects/_index.md
  docs/content/en/docs/Passes/.gitignore
  docs/content/en/docs/Passes/_index.md
  docs/content/en/docs/contributing.md
  docs/content/en/docs/development.md
  docs/content/en/docs/getting_started.md
  docs/content/en/docs/pipelines.md
  docs/content/en/docs/tutorials.md
Labels: pull_ready, documentation

#872 fix more include guards
  .pre-commit-search-and-replace.yaml
  lib/Target/Jaxite/JaxiteEmitter.h
  tests/benchmark/Memref.h
Labels: pull_ready

#875 Update CMake build for new dialect and transforms introduced
  lib/Conversion/CGGIToJaxite/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Dialect/CGGI/CMakeLists.txt
  lib/Dialect/CKKS/CMakeLists.txt
  lib/Dialect/CKKS/IR/CMakeLists.txt
  lib/Dialect/CMakeLists.txt
  lib/Dialect/Random/CMakeLists.txt
  lib/Dialect/Random/IR/CMakeLists.txt
  tools/CMakeLists.txt
Labels: pull_ready

#829 Loop Transformation: Converts a while loop written in scf.while to affine.for
  lib/Transforms/ConvertSecretWhileToStaticFor/BUILD
  lib/Transforms/ConvertSecretWhileToStaticFor/ConvertSecretWhileToStaticFor.cpp
  lib/Transforms/ConvertSecretWhileToStaticFor/ConvertSecretWhileToStaticFor.h
  lib/Transforms/ConvertSecretWhileToStaticFor/ConvertSecretWhileToStaticFor.td
  tests/convert_secret_while_to_static_for/BUILD
  tests/convert_secret_while_to_static_for/invalid_while_loop.mlir
  tests/convert_secret_while_to_static_for/secret_dependent_while_loop.mlir
  tools/BUILD
  tools/heir-opt.cpp
Labels: pull_ready

#890 clean up LWEOps.td
  lib/Dialect/LWE/IR/LWEOps.td
Labels: pull_ready, dialect: lwe

#877 #708: Canonicalize cggi.lut2, cggi.lut3 as cggi.lut_lincomb
  lib/Dialect/CGGI/IR/CGGIOps.cpp
  lib/Dialect/CGGI/IR/CGGIOps.h
  lib/Dialect/CGGI/IR/CGGIOps.td
  lib/Transforms/CMakeLists.txt
  lib/Transforms/ConvertSecretWhileToStaticFor/CMakeLists.txt
  tests/cggi/lut_canonicalize.mlir
  tools/CMakeLists.txt
Labels: pull_ready

#889 SecretnessAnalysis and ConvertIfToSelect fixes
  lib/Analysis/SecretnessAnalysis/SecretnessAnalysis.cpp
  lib/Transforms/ConvertIfToSelect/ConvertIfToSelect.cpp
  tests/convert_if_to_select/secret_conditionals.mlir
Labels: pull_ready, dialect: secret

#898 fix gcc build of rapidjson
  WORKSPACE
Labels: pull_ready

#904 update FileCheck to run on MLIR tests;
  tests/cggi/boolean_line_vectorizer.mlir
  tests/cggi/set_default_parameters.mlir
  tests/cggi/straight_line_vectorizer.mlir
  tests/cggi/syntax.mlir
  tests/lwe/add.mlir
  tests/lwe/set_default_parameters.mlir
Labels: pull_ready

#905 heir-translate: skip unsupported functions with a warning
  lib/Target/TfheRust/BUILD
  lib/Target/TfheRust/TfheRustEmitter.cpp
  lib/Target/TfheRust/Utils.cpp
  lib/Target/TfheRust/Utils.h
  lib/Target/TfheRustBool/BUILD
  lib/Target/TfheRustBool/TfheRustBoolEmitter.cpp
  tests/tfhe_rust_bool/skip_unsupported_fn.mlir
Labels: pull_ready

#907 [mod_arith] move arith_ext dialect to mod_arith
  lib/Conversion/ArithExtToArith/ArithExtToArith.h
  lib/Conversion/ArithExtToArith/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/ModArithToArith/BUILD
  lib/Conversion/ModArithToArith/CMakeLists.txt
  lib/Conversion/ModArithToArith/ModArithToArith.cpp
  lib/Conversion/ModArithToArith/ModArithToArith.h
  lib/Conversion/ModArithToArith/ModArithToArith.td
  lib/Dialect/ArithExt/IR/ArithExtDialect.h
  lib/Dialect/ArithExt/IR/ArithExtDialect.td
  lib/Dialect/ArithExt/IR/ArithExtOps.h
  lib/Dialect/ArithExt/IR/CMakeLists.txt
  lib/Dialect/CMakeLists.txt
  lib/Dialect/ModArith/CMakeLists.txt
  lib/Dialect/ModArith/IR/BUILD
  lib/Dialect/ModArith/IR/CMakeLists.txt
  lib/Dialect/ModArith/IR/ModArithDialect.cpp
  lib/Dialect/ModArith/IR/ModArithDialect.h
  lib/Dialect/ModArith/IR/ModArithDialect.td
  lib/Dialect/ModArith/IR/ModArithOps.h
  lib/Dialect/ModArith/IR/ModArithOps.td
  lib/Dialect/Polynomial/CMakeLists.txt
  lib/Dialect/Polynomial/Transforms/BUILD
  lib/Dialect/Polynomial/Transforms/NTTRewrites.h
  lib/Dialect/Polynomial/Transforms/NTTRewrites.td
  lib/Dialect/Polynomial/Transforms/Passes.td
  lib/Transforms/ApplyFolders/CMakeLists.txt
  lib/Transforms/ConvertIfToSelect/CMakeLists.txt
  lib/Transforms/ElementwiseToAffine/CMakeLists.txt
  lib/Transforms/ForwardStoreToLoad/CMakeLists.txt
  lib/Transforms/FullLoopUnroll/CMakeLists.txt
  lib/Transforms/Secretize/CMakeLists.txt
  lib/Transforms/StraightLineVectorizer/CMakeLists.txt
  lib/Transforms/UnusedMemRef/CMakeLists.txt
  tests/arith_ext/syntax.mlir
  tests/mod_arith/BUILD
  tests/mod_arith/barrett_reduce_runner.mlir
  tests/mod_arith/invalid-ops.mlir
  tests/mod_arith/mod-arith-to-arith.mlir
  tests/mod_arith/syntax.mlir
  tests/polynomial/ntt_rewrites.mlir
  tools/BUILD
  tools/CMakeLists.txt
  tools/heir-lsp.cpp
  tools/heir-opt.cpp
Labels: pull_ready

#909 Update CMakeLists for new transform
  lib/Target/TfheRust/CMakeLists.txt
  lib/Transforms/CMakeLists.txt
  lib/Transforms/OperationBalancer/CMakeLists.txt
Labels: pull_ready

#912 build: patch llvm bazel build
  bazel/import_llvm.bzl
  bazel/llvm.patch
Labels: pull_ready

#925 build: replace insecure polyfill use in website
  bazel/import_llvm.bzl
  bazel/llvm.patch
  docs/layouts/partials/hooks/head-end.html
Labels: pull_ready

#871 Access Transformation: Convert secret tensor.extract and tensor.insert to non-simd conditional alternative
  lib/Analysis/SecretnessAnalysis/SecretnessAnalysis.h
  lib/Transforms/ConvertSecretExtractToStaticExtract/BUILD
  lib/Transforms/ConvertSecretExtractToStaticExtract/ConvertSecretExtractToStaticExtract.cpp
  lib/Transforms/ConvertSecretExtractToStaticExtract/ConvertSecretExtractToStaticExtract.h
  lib/Transforms/ConvertSecretExtractToStaticExtract/ConvertSecretExtractToStaticExtract.td
  lib/Transforms/ConvertSecretInsertToStaticInsert/BUILD
  lib/Transforms/ConvertSecretInsertToStaticInsert/ConvertSecretInsertToStaticInsert.cpp
  lib/Transforms/ConvertSecretInsertToStaticInsert/ConvertSecretInsertToStaticInsert.h
  lib/Transforms/ConvertSecretInsertToStaticInsert/ConvertSecretInsertToStaticInsert.td
  tests/convert_secret_extract_to_static_extract/BUILD
  tests/convert_secret_extract_to_static_extract/invalid_extracts.mlir
  tests/convert_secret_extract_to_static_extract/secret_extracts.mlir
  tests/convert_secret_insert_to_static_insert/BUILD
  tests/convert_secret_insert_to_static_insert/invalid_inserts.mlir
  tests/convert_secret_insert_to_static_insert/secret_inserts.mlir
  tools/BUILD
  tools/heir-opt.cpp
Labels: pull_ready

#928 [mod_arith] fix sub lowering
  lib/Conversion/ModArithToArith/ModArithToArith.td
  tests/mod_arith/mod-arith-to-arith.mlir
  tests/mod_arith/runner/BUILD
  tests/mod_arith/runner/lower_add.mlir
  tests/mod_arith/runner/lower_barrett_reduce.mlir
  tests/mod_arith/runner/lower_mac.mlir
  tests/mod_arith/runner/lower_mul.mlir
  tests/mod_arith/runner/lower_sub.mlir
Labels: pull_ready

#930 CMake build for ConvertSecretExtractToStaticExtract, and ConvertSecretInsertToStaticInsert
  lib/Transforms/CMakeLists.txt
  lib/Transforms/ConvertSecretExtractToStaticExtract/CMakeLists.txt
  lib/Transforms/ConvertSecretInsertToStaticInsert/CMakeLists.txt
Labels: pull_ready

#941 build: fix bazel build
  bazel/import_llvm.bzl
  bazel/llvm.patch
Labels: pull_ready

#935 Move int64_t casting from translate to opt bgv_to_openfhe
  lib/Conversion/BGVToOpenfhe/BGVToOpenfhe.cpp
  lib/Target/OpenFhePke/OpenFhePkeEmitter.cpp
  lib/Target/OpenFhePke/OpenFhePkeEmitter.h
  tests/bgv_to_openfhe/cast.mlir
  tests/openfhe/ops.mlir
Labels: pull_ready

#937 Enforce markdown formatting in pre-commit hook and apply it to the entire repo
  .github/CODE_OF_CONDUCT.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/content/en/_index.md
  docs/content/en/blog/_index.md
  docs/content/en/blog/heir_meeting_2023-06-27.md
  docs/content/en/blog/heir_meeting_2023-07-18.md
  docs/content/en/blog/heir_meeting_2023-08-01.md
  docs/content/en/blog/heir_meeting_2023-08-15.md
  docs/content/en/blog/heir_meeting_2023-08-29.md
  docs/content/en/blog/heir_meeting_2023-09-12.md
  docs/content/en/blog/heir_meeting_2023-09-26.md
  docs/content/en/blog/heir_meeting_2023-10-24.md
  docs/content/en/blog/heir_meeting_2023-11-07.md
  docs/content/en/blog/heir_meeting_2023-11-28.md
  docs/content/en/blog/heir_meeting_2023-12-12.md
  docs/content/en/blog/heir_meeting_2024-01-11.md
  docs/content/en/blog/heir_meeting_2024-01-25.md
  docs/content/en/blog/heir_meeting_2024-02-08.md
  docs/content/en/blog/heir_meeting_2024-02-22.md
  docs/content/en/blog/heir_meeting_2024-03-07.md
  docs/content/en/blog/heir_meeting_2024-04-04.md
  docs/content/en/blog/heir_meeting_2024-04-18.md
  docs/content/en/blog/heir_meeting_2024-05-02.md
  docs/content/en/blog/heir_meeting_2024-05-16.md
  docs/content/en/blog/heir_meeting_2024-05-30.md
  docs/content/en/blog/heir_meeting_2024-06-13.md
  docs/content/en/blog/heir_meeting_2024-06-27.md
  docs/content/en/blog/heir_meeting_2024-07-11.md
  docs/content/en/blog/heir_meeting_2024-07-18.md
  docs/content/en/blog/heir_meeting_2024-07-25.md
  docs/content/en/blog/heir_meeting_2024-08-08.md
  docs/content/en/blog/hello_world.md
  docs/content/en/community/_index.md
  docs/content/en/docs/Design/_index.md
  docs/content/en/docs/Design/secret.md
  docs/content/en/docs/Design/simd.md
  docs/content/en/docs/Dialects/_index.md
  docs/content/en/docs/Passes/_index.md
  docs/content/en/docs/_index.md
  docs/content/en/docs/contributing.md
  docs/content/en/docs/development.md
  docs/content/en/docs/getting_started.md
  docs/content/en/docs/pipelines.md
  docs/content/en/docs/tutorials.md
  docs/content/en/search.md
  tests/polynomial/runner/README.md
  tests/tfhe_rust_bool/end_to_end_fpga/README.md
Labels: pull_ready

#943 #822: Add check-heir CMake target that runs all tests
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/lit.cfg.py
Labels: pull_ready

#932 Refactoring per issue #449
  lib/Target/TfheRust/TfheRustEmitter.cpp
  lib/Target/Utils.cpp
  lib/Target/Utils.h
Labels: pull_ready

#947 build: remove llvm patch after fix merged & fix lit test script
  bazel/import_llvm.bzl
  bazel/llvm.patch
  tests/lit.cfg.py
Labels: pull_ready

#946 Fix warnings with mismatched integral types
  lib/Conversion/MemrefToArith/Utils.cpp
  lib/Target/OpenFhePke/OpenFheUtils.cpp
  lib/Target/Verilog/VerilogEmitter.cpp
  lib/Transforms/OperationBalancer/OperationBalancer.cpp
Labels: pull_ready
