Repository google/heir, pull requests merged in 2024-09, with the labels that each got.

#953 Enable deterministic run of transforms
  lib/Dialect/CGGI/Transforms/BooleanLineVectorizer.cpp
  tests/cggi/straight_line_vectorizer.mlir
Labels: pull_ready

#957 docs: fix hugo shortcodes with mdformat
  docs/content/en/_index.md
  docs/content/en/community/_index.md
  docs/content/en/docs/contributing.md
Labels: pull_ready

#958 Update namespace in HEIRInterfaces file
  lib/Dialect/HEIRInterfaces.cpp
  lib/Dialect/HEIRInterfaces.h
Labels: pull_ready

#963 Update CMake for new conversion utilities
  lib/Conversion/CMakeLists.txt
  lib/Conversion/LinalgToTensorExt/CMakeLists.txt
  lib/Conversion/TosaToSecretArith/CMakeLists.txt
  tools/CMakeLists.txt
Labels: pull_ready

#967 ci: fix whitespace in CI at head
  lib/Conversion/CMakeLists.txt
Labels: pull_ready

#927 [mod_arith] add reduce op
  lib/Conversion/ModArithToArith/ModArithToArith.cpp
  lib/Conversion/ModArithToArith/ModArithToArith.td
  lib/Dialect/ModArith/IR/ModArithOps.td
  tests/mod_arith/mod-arith-to-arith.mlir
  tests/mod_arith/syntax.mlir
Labels: squash ready, pull_ready

#936 Add support for lowering RLWEEncryptOps with Secret Key to Poly Dialect
  lib/Conversion/LWEToPolynomial/LWEToPolynomial.cpp
  tests/lwe_to_polynomial/test_rlwe_pk_encrypt.mlir
  tests/lwe_to_polynomial/test_rlwe_sk_encrypt.mlir
Labels: pull_ready, dialect: lwe

#980 Do not hoist complex op in secret.generic
  lib/Dialect/Secret/IR/SecretPatterns.cpp
  tests/secret/canonicalize_hoist_affine_for.mlir
Labels: pull_ready

#983 CMake build update + warnings fix
  lib/Analysis/RotationAnalysis/RotationAnalysis.h
  lib/Conversion/BGVToOpenfhe/CMakeLists.txt
  lib/Conversion/CKKSToOpenfhe/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/LWEToOpenfhe/CMakeLists.txt
  lib/Conversion/LWEToOpenfhe/LWEToOpenfhe.h
  lib/Conversion/RlweToOpenfhe/CMakeLists.txt
  lib/Target/Utils.cpp
  lib/Transforms/CMakeLists.txt
  lib/Transforms/LinalgCanonicalizations/CMakeLists.txt
  lib/Transforms/LinalgCanonicalizations/LinalgCanonicalizations.cpp
  tools/CMakeLists.txt
Labels: pull_ready

#977 Save non-tensor scalar value in rotation analysis and apply later
  lib/Analysis/RotationAnalysis/RotationAnalysis.cpp
  lib/Analysis/RotationAnalysis/RotationAnalysis.h
  lib/Dialect/Secret/IR/SecretPatterns.cpp
  lib/Dialect/TensorExt/Transforms/RotateAndReduce.cpp
  tests/heir_simd_vectorizer/simple_sum.mlir
  tests/tensor_ext/rotate_and_reduce.mlir
Labels: pull_ready

#989 docs: add ckks to dialects diagram
  docs/static/dialects.dot
  docs/static/images/dialects.svg
Labels: pull_ready

#975 default to clang/lld + add gcc config
  .bazelrc
  docs/content/en/docs/development.md
Labels: pull_ready, build, documentation

#992 Conversion/Utils: remove debug message for TensorOfTensorConversionPatterns
  lib/Conversion/Utils.cpp
Labels: pull_ready
