Repository google/heir, pull requests merged in 2025-06, with the labels that each got.

#1783 frontend: add cggi scheme support up to cggi dialect
  MODULE.bazel.lock
  frontend/cggi_test.py
  frontend/heir/heir_cli/heir_cli_config.py
  frontend/heir/pipeline.py
Labels: pull_ready

#1878 bump zlib version and migrate it to bazelmod
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bzlmod
Labels: pull_ready, ci:macos

#1870 Restore debug tests & fix lattigo emitters for tensor insert
  MODULE.bazel.lock
  lib/Dialect/Secret/Transforms/AddDebugPort.cpp
  lib/Dialect/Secret/Transforms/BUILD
  lib/Dialect/Secret/Transforms/ImportExecutionResult.cpp
  lib/Target/Lattigo/LattigoEmitter.cpp
  lib/Target/Lattigo/LattigoEmitter.h
  lib/Transforms/PropagateAnnotation/PropagateAnnotation.cpp
  lib/Utils/AttributeUtils.cpp
  tests/Dialect/Lattigo/Emitters/emit_lattigo.mlir
  tests/Examples/lattigo/ckks/ckks_debug.go
  tests/Examples/lattigo/ckks/dot_product_8f/BUILD
  tests/Examples/lattigo/ckks/dot_product_8f_debug/BUILD
  tests/Examples/openfhe/ckks/dot_product_8f_debug/BUILD
  tests/Examples/openfhe/ckks/halevi_shoup_matmul_loop/BUILD
  tests/Examples/plaintext/dot_product_f_debug/BUILD
  tests/Examples/plaintext/dot_product_f_debug/dot_product_8f_debug_test.c
  tests/Transforms/layout_optimization/multiple_uses.mlir
Labels: pull_ready

#1882 support multiple return values in distribute-generic
  lib/Dialect/Secret/Transforms/DistributeGeneric.cpp
  tests/Dialect/Secret/Transforms/issue_1316.mlir
Labels: pull_ready

#1877 Remove linalg to tensor ext
  lib/Dialect/LinAlg/CMakeLists.txt
  lib/Dialect/LinAlg/Conversions/CMakeLists.txt
  lib/Dialect/LinAlg/Conversions/LinalgToTensorExt/BUILD
  lib/Dialect/LinAlg/Conversions/LinalgToTensorExt/CMakeLists.txt
  lib/Dialect/LinAlg/Conversions/LinalgToTensorExt/LinalgToTensorExt.cpp
  lib/Dialect/LinAlg/Conversions/LinalgToTensorExt/LinalgToTensorExt.h
  lib/Dialect/LinAlg/Conversions/LinalgToTensorExt/LinalgToTensorExt.td
  lib/Pipelines/BUILD
  tests/Dialect/LinAlg/Conversions/linalg_to_tensor_ext/BUILD
  tests/Dialect/LinAlg/Conversions/linalg_to_tensor_ext/float_small_fc_network.mlir
  tests/Dialect/LinAlg/Conversions/linalg_to_tensor_ext/float_vector_small_matrix_matmul.mlir
  tests/Dialect/LinAlg/Conversions/linalg_to_tensor_ext/float_vector_square_matrix_matmul_op.mlir
  tests/Dialect/LinAlg/Conversions/linalg_to_tensor_ext/integer_rect_matrix_vector_matmul_op.mlir
  tests/Dialect/LinAlg/Conversions/linalg_to_tensor_ext/integer_small_vector_matrix_matmul_op.mlir
  tests/Dialect/LinAlg/Conversions/linalg_to_tensor_ext/integer_square_matrix_vector_matmul_op.mlir
  tests/Dialect/LinAlg/Conversions/linalg_to_tensor_ext/integer_vector_square_matrix_matmul_op.mlir
  tests/Dialect/LinAlg/Conversions/linalg_to_tensor_ext/no_matmul.mlir
  tools/BUILD
  tools/heir-opt.cpp
Labels: pull_ready

#1896 fix HEIR config path typo
  frontend/heir/heir_cli/heir_cli_config.py
Labels: pull_ready, python

#1894 use soplex 7.1.4.bcr.1
  MODULE.bazel
  MODULE.bazel.lock
Labels: pull_ready

#1901 update lockfile
  MODULE.bazel.lock
Labels: pull_ready

#1902 docs: Add design of Noise Analysis
  docs/content/en/docs/Design/noise.md
Labels: pull_ready

#1825 frontend: support "casting" between MLIR types
  MODULE.bazel.lock
  frontend/BUILD
  frontend/cast_test.py
  frontend/cggi_test.py
  frontend/heir/mlir/types.py
  frontend/heir/mlir_emitter.py
  frontend/heir/numba_nbep1_reverter/old_builtins.py
  frontend/heir/pipeline.py
  frontend/testing.bzl
Labels: pull_ready

#1908 Add blog post for 2025-06-12 meeting
  docs/content/en/blog/heir_meeting_2025-06-12.md
Labels: pull_ready

#1906 Mgmt: Add MemoryEffect for InitOp to prevent CSE
  lib/Dialect/Mgmt/IR/MgmtOps.cpp
  lib/Dialect/Mgmt/IR/MgmtOps.h
  lib/Dialect/Mgmt/IR/MgmtOps.td
  lib/Dialect/Secret/Conversions/SecretToBGV/SecretToBGV.cpp
  lib/Dialect/Secret/Conversions/SecretToCKKS/SecretToCKKS.cpp
  lib/Transforms/SecretInsertMgmt/SecretInsertMgmtBFV.cpp
  lib/Transforms/SecretInsertMgmt/SecretInsertMgmtBGV.cpp
  lib/Transforms/SecretInsertMgmt/SecretInsertMgmtCKKS.cpp
  tests/Transforms/secret_insert_mgmt/bgv/init.mlir
Labels: pull_ready

#1911 fix cggi test
  frontend/cggi_test.py
Labels: pull_ready

#1914 bazel: bump compile-commands-extractor commit
  MODULE.bazel
Labels: pull_ready

#1917 Cleanup secret tensor::ExtractOp handling after packing pipeline
  lib/Analysis/AddAndKeySwitchCountAnalysis/AddAndKeySwitchCountAnalysis.cpp
  lib/Analysis/MulDepthAnalysis/MulDepthAnalysis.cpp
  lib/Analysis/ScaleAnalysis/ScaleAnalysis.cpp
  lib/Dialect/BGV/Conversions/BGVToLWE/BGVToLWE.cpp
  lib/Dialect/BGV/IR/BGVOps.cpp
  lib/Dialect/BGV/IR/BGVOps.td
  lib/Dialect/CKKS/Conversions/CKKSToLWE/CKKSToLWE.cpp
  lib/Dialect/LWE/IR/LWEPatterns.h
  lib/Dialect/Secret/Conversions/SecretToBGV/SecretToBGV.cpp
  lib/Transforms/SecretInsertMgmt/SecretInsertMgmtBGV.cpp
  lib/Transforms/SecretInsertMgmt/SecretInsertMgmtCKKS.cpp
  lib/Transforms/SecretInsertMgmt/SecretInsertMgmtPatterns.cpp
  tests/Dialect/BGV/Conversions/bgv_to_openfhe/extract.mlir
  tests/Dialect/BGV/IR/ops.mlir
  tests/Dialect/BGV/IR/verifier.mlir
  tests/Dialect/CKKS/Conversions/ckks_to_openfhe/extract.mlir
  tests/Dialect/LWE/Transforms/add_debug_port.mlir
  tests/Dialect/Secret/Conversions/secret_to_bgv/extract.mlir
  tests/Dialect/Secret/Conversions/secret_to_bgv/hamming_distance_1024.mlir
  tests/Dialect/Secret/Conversions/secret_to_ckks/hamming_distance_1024.mlir
  tests/Dialect/Secret/Conversions/secret_to_ckks/type_converter.mlir
Labels: pull_ready

#1926 Revert "Openfhe: CKKS: Avoid MulDepth of 0"
  lib/Dialect/Openfhe/Transforms/ConfigureCryptoContext.cpp
Labels: pull_ready
