Repository google/heir, pull requests merged in 2025-05, with the labels that each got.

#1775 Converting to Ctxt/Ctxt op of the TFHE compare ops
  MODULE.bazel.lock
  lib/Dialect/TfheRust/IR/TfheRustOps.td
Labels: pull_ready

#1780 Change cggi-to-tfhe-rs conversion pass with new min/max ops
  lib/Dialect/CGGI/Conversions/CGGIToTfheRust/CGGIToTfheRust.cpp
Labels: pull_ready

#1794 frontend: fix incorrect type inference for constants
  frontend/heir/numba_nbep1_reverter/typeof.py
Labels: pull_ready, python

#1806 Openfhe: CKKS: Avoid MulDepth of 0
  lib/Dialect/Openfhe/Transforms/ConfigureCryptoContext.cpp
Labels: pull_ready

#1807 NoiseAnalysis: track log-scale noise for deep circuit
  lib/Analysis/NoiseAnalysis/BFV/BUILD
  lib/Analysis/NoiseAnalysis/BFV/NoiseByBoundCoeffModel.cpp
  lib/Analysis/NoiseAnalysis/BFV/NoiseByBoundCoeffModel.h
  lib/Analysis/NoiseAnalysis/BFV/NoiseByVarianceCoeffModel.cpp
  lib/Analysis/NoiseAnalysis/BFV/NoiseByVarianceCoeffModel.h
  lib/Analysis/NoiseAnalysis/BGV/NoiseByBoundCoeffModel.cpp
  lib/Analysis/NoiseAnalysis/BGV/NoiseByBoundCoeffModel.h
  lib/Analysis/NoiseAnalysis/BGV/NoiseByVarianceCoeffModel.cpp
  lib/Analysis/NoiseAnalysis/BGV/NoiseByVarianceCoeffModel.h
  lib/Analysis/NoiseAnalysis/BGV/NoiseCanEmbModel.cpp
  lib/Analysis/NoiseAnalysis/BGV/NoiseCanEmbModel.h
  lib/Analysis/NoiseAnalysis/BUILD
  lib/Analysis/NoiseAnalysis/Noise.cpp
  lib/Analysis/NoiseAnalysis/Noise.h
  lib/Analysis/NoiseAnalysis/NoiseWithDegree.cpp
  lib/Analysis/NoiseAnalysis/NoiseWithDegree.h
Labels: pull_ready

#1815 frontend: add tensor support
  frontend/BUILD
  frontend/heir/mlir/types.py
  frontend/heir/mlir_emitter.py
  frontend/heir/pipeline.py
  frontend/tensor_loop_test.py
  frontend/tensor_test.py
  lib/Transforms/ShapeInference/BUILD
  lib/Transforms/ShapeInference/ShapeInference.cpp
  lib/Transforms/ShapeInference/ShapeInference.h
  lib/Transforms/ShapeInference/ShapeInference.td
  tests/Transforms/shape_inference/BUILD
  tests/Transforms/shape_inference/shape_inference.mlir
  tests/Transforms/shape_inference/shape_inference_invalid.mlir
  tools/BUILD
  tools/heir-opt.cpp
Labels: pull_ready, python

#1818 secretness: special case reveal op
  lib/Analysis/SecretnessAnalysis/SecretnessAnalysis.cpp
Labels: pull_ready

#1826 remove devcontainer build from CI
  .devcontainer/cmake/devcontainer.json
  .devcontainer/cmake/setup_heir.sh
  .devcontainer/cmake/setup_mlir.sh
  .devcontainer/devcontainer.json
Labels: pull_ready

#1829 add a run option to lit_to_bazel
  scripts/lit_to_bazel.py
Labels: pull_ready

#1816 NoiseAnalysis: Refactor noise to string
  lib/Analysis/NoiseAnalysis/BFV/BUILD
  lib/Analysis/NoiseAnalysis/BFV/NoiseAnalysis.cpp
  lib/Analysis/NoiseAnalysis/BFV/NoiseByBoundCoeffModel.cpp
  lib/Analysis/NoiseAnalysis/BFV/NoiseByBoundCoeffModel.h
  lib/Analysis/NoiseAnalysis/BFV/NoiseByVarianceCoeffModel.cpp
  lib/Analysis/NoiseAnalysis/BFV/NoiseByVarianceCoeffModel.h
  lib/Analysis/NoiseAnalysis/BGV/BUILD
  lib/Analysis/NoiseAnalysis/BGV/NoiseAnalysis.cpp
  lib/Analysis/NoiseAnalysis/BGV/NoiseByBoundCoeffModel.cpp
  lib/Analysis/NoiseAnalysis/BGV/NoiseByBoundCoeffModel.h
  lib/Analysis/NoiseAnalysis/BGV/NoiseByVarianceCoeffModel.cpp
  lib/Analysis/NoiseAnalysis/BGV/NoiseByVarianceCoeffModel.h
  lib/Analysis/NoiseAnalysis/BGV/NoiseCanEmbModel.cpp
  lib/Analysis/NoiseAnalysis/BGV/NoiseCanEmbModel.h
  lib/Parameters/BUILD
  lib/Parameters/RLWEParams.cpp
  lib/Transforms/ValidateNoise/BUILD
  lib/Transforms/ValidateNoise/ValidateNoise.cpp
  lib/Utils/Utils.cpp
  lib/Utils/Utils.h
Labels: pull_ready

#1827 Simplify some lit tests
  tests/Dialect/Lattigo/Transforms/alloc_to_inplace_add.mlir
  tests/Regression/issue_1406.mlir
  tests/Regression/issue_1480.mlir
  tests/Regression/issue_1522.mlir
  tests/Transforms/optimize_relinearization/issue_1284.mlir
  tests/Transforms/optimize_relinearization/optimize_relinearization.mlir
  tests/Transforms/secret_insert_mgmt/ckks/bootstrap_waterline.mlir
  tests/Transforms/validate_noise/validate_noise_fail.mlir
  tests/Transforms/validate_noise/validate_noise_pass.mlir
  tests/Transforms/validate_noise/validate_noise_preserve_user_param.mlir
  tests/Transforms/validate_noise/validate_noise_preserve_user_param_fail.mlir
Labels: pull_ready

#1830 annotate enc/dec funcs for cross-pass matching
  lib/Dialect/ModuleAttributes.h
  lib/Transforms/AddClientInterface/AddClientInterface.cpp
  lib/Transforms/AddClientInterface/BUILD
  tests/Transforms/add_client_interface/add_client_interface.mlir
Labels: pull_ready

#1834 update lockfile
  MODULE.bazel.lock
Labels: pull_ready

#1824 frontend: various cleanups and minor fixes
  frontend/e2e_test.py
  frontend/example.py
  frontend/heir/backends/cleartext.py
  frontend/heir/backends/openfhe/backend.py
  frontend/heir/backends/util/common.py
  frontend/heir/heir_cli/heir_cli.py
  frontend/heir/interfaces.py
  frontend/heir/mlir/types.py
  frontend/heir/mlir_emitter.py
  frontend/heir/pipeline.py
Labels: pull_ready, python

#1848 lit_to_bazel: support converting bazel target to filepath
  scripts/lit_to_bazel.py
Labels: pull_ready

#1851 update lockfile
  MODULE.bazel.lock
Labels: pull_ready

#1853 [ci] add github workflow to update bazel lockfile
  .github/workflows/lockfile.yml
Labels: pull_ready

#1837 Copy mgmt attr to client helpers
  lib/Dialect/Mgmt/Transforms/AnnotateMgmt.cpp
  lib/Dialect/Mgmt/Transforms/BUILD
  lib/Dialect/Mgmt/Transforms/Utils.cpp
  lib/Dialect/Mgmt/Transforms/Utils.h
  lib/Transforms/PropagateAnnotation/PropagateAnnotation.cpp
  lib/Transforms/PropagateAnnotation/PropagateAnnotation.h
  tests/Transforms/annotate_mgmt/BUILD
  tests/Transforms/annotate_mgmt/client_helpers.mlir
  tests/Transforms/propagate_annotation/pass.mlir
Labels: pull_ready

#1855 test_summary: terse
  .bazelrc
Labels: pull_ready, build

#1856 fix secret.generic syntax in comments/demos
  docs/content/en/docs/Design/secret.md
  lib/Dialect/Secret/IR/SecretPatterns.h
  lib/Dialect/Secret/Transforms/DistributeGeneric.cpp
  scripts/jupyter/Demo.ipynb
  scripts/jupyter/HEIR Play.ipynb
  scripts/jupyter/README.md
Labels: pull_ready
