Repository google/heir, pull requests merged in 2025-07, with the labels that each got.

#1944 update lockfile
  MODULE.bazel.lock
Labels: pull_ready

#1949 include abc/yosys/techmaps in pypi wheels
  .github/workflows/wheels.yml
  frontend/heir/heir_cli/heir_cli_config.py
  setup.py
Labels: pull_ready

#1945 Materialize IR for Paterson-Stockmeyer Chebyshev lowering of polynomial.eval
  lib/Transforms/LowerPolynomialEval/BUILD
  lib/Transforms/LowerPolynomialEval/LowerPolynomialEval.td
  lib/Transforms/LowerPolynomialEval/Patterns.cpp
  lib/Transforms/LowerPolynomialEval/Patterns.h
  lib/Utils/Polynomial/BUILD
  lib/Utils/Polynomial/ChebyshevPatersonStockmeyer.h
  lib/Utils/Polynomial/ChebyshevPatersonStockmeyerTest.cpp
  tests/Transforms/lower_polynomial_eval/paterson_stockmeyer_chebyshev.mlir
Labels: pull_ready

#1950 NoiseAnalysis: Update average-case expansion factor for modulus switching
  lib/Analysis/NoiseAnalysis/BFV/NoiseByBoundCoeffModel.cpp
  lib/Analysis/NoiseAnalysis/BFV/NoiseByBoundCoeffModel.h
  lib/Analysis/NoiseAnalysis/BGV/NoiseByBoundCoeffModel.cpp
  lib/Analysis/NoiseAnalysis/BGV/NoiseByBoundCoeffModel.h
Labels: pull_ready

#1922 allow skipping arithmetization (and, therefore, packing) pipeline
  lib/Pipelines/ArithmeticPipelineRegistration.cpp
  lib/Pipelines/ArithmeticPipelineRegistration.h
  lib/Target/OpenFhePke/OpenFhePkeEmitter.cpp
  lib/Target/OpenFhePke/OpenFhePkeEmitter.h
  lib/Target/OpenFhePke/OpenFheTranslateRegistration.cpp
  lib/Transforms/AddClientInterface/AddClientInterface.cpp
  lib/Transforms/AddClientInterface/AddClientInterface.td
  lib/Transforms/ConvertToCiphertextSemantics/AssignLayout.cpp
  tests/Dialect/Openfhe/Emitters/emit_client_interface.mlir
  tests/Examples/openfhe/ckks/custom_arithmetization/BUILD
  tests/Examples/openfhe/ckks/custom_arithmetization/custom_arithmetization.mlir
  tests/Examples/openfhe/ckks/custom_arithmetization/custom_arithmetization_test.cpp
  tests/Regression/issue_1919.mlir
Labels: pull_ready

#1959 update module bazel
  MODULE.bazel.lock
Labels: pull_ready

#1952 More improvements in preparation for publishing to PyPI
  .github/cibuildwheel.env
  .github/workflows/wheels.yml
  README.md
  pyproject.toml
  setup.py
Labels: pull_ready

#1979 clarify bazelrc settings
  docs/content/en/docs/development.md
Labels: pull_ready

#1980 test: add sharding to frontend tests
  frontend/testing.bzl
Labels: pull_ready

#1975 Minor website clenaup
  docs/content/en/_index.md
  docs/content/en/docs/Design/_index.md
  docs/content/en/docs/getting_started.md
  docs/content/en/docs/research_with_heir.md
  docs/hugo.toml
  docs/static/images/dialect-diagram.png
Labels: pull_ready

#1978 fix func name in readme
  README.md
Labels: pull_ready

#1994 Reorganize/extend developer docs
  .pre-commit-config.yaml
  docs/content/en/_index.md
  docs/content/en/docs/Development/_index.md
  docs/content/en/docs/Development/bazel.md
  docs/content/en/docs/Development/boilerplate.md
  docs/content/en/docs/Development/ide.md
  docs/content/en/docs/development.md
  lib/Analysis/MulDepthAnalysis/MulDepthAnalysis.h
  lib/Analysis/NoiseAnalysis/BFV/NoiseByVarianceCoeffModel.h
  lib/Analysis/NoiseAnalysis/BGV/NoiseByVarianceCoeffModel.h
  lib/Analysis/RotationAnalysis/RotationAnalysis.h
  lib/Dialect/Arith/Conversions/ArithToCGGIQuart/ArithToCGGIQuart.cpp
  lib/Dialect/Openfhe/Transforms/ConfigureCryptoContext.cpp
  lib/Dialect/Secret/IR/SecretOps.td
  lib/Dialect/Secret/Transforms/Passes.td
  pyproject.toml
  tests/Dialect/TensorExt/Transforms/rotate_and_reduce.mlir
Labels: pull_ready

#2015 add gh token for gh cli
  .github/workflows/pull_ready.yml
Labels: pull_ready

#2002 automated bazel lockfile update
  MODULE.bazel.lock
Labels: pull_ready

#1989 add `arith.negf` --> `ckks.negate` lowering
  lib/Dialect/Secret/Conversions/SecretToCKKS/SecretToCKKS.cpp
  tests/Dialect/Secret/Conversions/secret_to_ckks/ops.mlir
Labels: pull_ready

#2009 fix openfhe include_dirs in python fronend
  frontend/heir/backends/openfhe/config.py
Labels: pull_ready, python

#2021 Updates to Gcp scripts and examples
  scripts/gcp/examples/jaxite_example.py
  scripts/gcp/provision.py
Labels: squash ready, pull_ready

#2029 Cleanup ::mlir::heir::polynomial
  lib/Dialect/LWE/Conversions/LWEToPolynomial/LWEToPolynomial.cpp
  lib/Dialect/LWE/IR/LWETraits.h
  lib/Dialect/Secret/Conversions/SecretToBGV/SecretToBGV.cpp
  lib/Dialect/Secret/Conversions/SecretToCKKS/SecretToCKKS.cpp
  lib/Pipelines/PipelineRegistration.cpp
  lib/Target/OpenFhePke/OpenFheTranslateRegistration.cpp
  lib/Transforms/LowerPolynomialEval/Patterns.h
  lib/Utils/Approximation/CaratheodoryFejer.cpp
  lib/Utils/Approximation/CaratheodoryFejer.h
  lib/Utils/Approximation/CaratheodoryFejerTest.cpp
  lib/Utils/Approximation/Chebyshev.cpp
  lib/Utils/Approximation/Chebyshev.h
  lib/Utils/Approximation/ChebyshevTest.cpp
  tools/heir-lsp.cpp
  tools/heir-opt.cpp
Labels: pull_ready

#2031 doctests: populate-scale-*, annotate-module, generate-param-*
  lib/Transforms/AnnotateModule/AnnotateModule.td
  lib/Transforms/GenerateParam/GenerateParam.td
  lib/Transforms/PopulateScale/PopulateScale.td
  tests/Transforms/generate_param_bfv/BUILD
  tests/Transforms/generate_param_bfv/doctest.mlir
  tests/Transforms/generate_param_bgv/BUILD
  tests/Transforms/generate_param_bgv/doctest.mlir
  tests/Transforms/generate_param_ckks/BUILD
  tests/Transforms/generate_param_ckks/doctest.mlir
  tests/Transforms/populate_scale/bgv/doctest.mlir
  tests/Transforms/populate_scale/ckks/doctest.mlir
Labels: pull_ready

#2041 disable openmp for other bazel build in docs workflow
  .github/workflows/docs.yml
Labels: pull_ready

#2039 Add specific gcp cloud instructions and print statements
  scripts/gcp/README.md
  scripts/gcp/examples/add_one_lut3_main.py
  scripts/gcp/examples/jaxite_example.py
Labels: pull_ready

#2051 Another segfault workaround
  tests/Examples/plaintext/dot_product_f_debug/dot_product_8f_debug_test.c
Labels: pull_ready

#1967 Implement a layout conversion cost analysis
  lib/Dialect/TensorExt/Transforms/ImplementShiftNetwork.cpp
  lib/Dialect/TensorExt/Transforms/ImplementShiftNetwork.h
  lib/Transforms/ConvertToCiphertextSemantics/BUILD
  lib/Transforms/ConvertToCiphertextSemantics/ConvertToCiphertextSemantics.cpp
  lib/Transforms/LayoutOptimization/BUILD
  lib/Transforms/LayoutOptimization/LayoutConversionCost.cpp
  lib/Transforms/LayoutOptimization/LayoutConversionCost.h
  lib/Transforms/LayoutOptimization/LayoutOptimization.cpp
  lib/Transforms/LayoutOptimization/LayoutOptimization.td
  lib/Utils/ADT/FrozenVector.h
  lib/Utils/TransformUtils.cpp
  lib/Utils/TransformUtils.h
  tests/Transforms/layout_optimization/multiple_uses.mlir
Labels: pull_ready

#1765 demo: add AES demo for tfhe_rust CPU
  MODULE.bazel.lock
  frontend/sbox_test.py
  tests/Examples/common/aes/BUILD
  tests/Examples/common/aes/add_round_key.mlir
  tests/Examples/common/aes/inv_mix_columns.mlir
  tests/Examples/common/aes/inv_shift_rows.mlir
  tests/Examples/common/aes/inv_sub_bytes.mlir
  tests/Examples/common/aes/mix_columns.mlir
  tests/Examples/common/aes/shift_rows.mlir
  tests/Examples/common/aes/sub_bytes.mlir
  tests/Examples/tfhe_rust/BUILD
  tests/Examples/tfhe_rust/src/main_aes.rs
Labels: pull_ready

#2018 CKKS: Add RangeAnalysis
  lib/Analysis/DimensionAnalysis/DimensionAnalysis.h
  lib/Analysis/RangeAnalysis/BUILD
  lib/Analysis/RangeAnalysis/RangeAnalysis.cpp
  lib/Analysis/RangeAnalysis/RangeAnalysis.h
  lib/Transforms/GenerateParam/BUILD
  lib/Transforms/GenerateParam/GenerateParam.td
  lib/Transforms/GenerateParam/GenerateParamCKKS.cpp
  tests/Examples/lattigo/ckks/cross_level/BUILD
  tests/Examples/lattigo/ckks/dot_product_8f/BUILD
Labels: pull_ready

#2059 drop "New" prefix for LWE helpers
  lib/Dialect/LWE/IR/LWEOps.td
Labels: pull_ready

#2013 First step of lowering ckks.relinearize
  lib/Dialect/CKKS/IR/CKKSOps.td
  lib/Dialect/LWE/Conversions/LWEToPolynomial/BUILD
  lib/Dialect/LWE/Conversions/LWEToPolynomial/LWEToPolynomial.cpp
  lib/Dialect/Polynomial/IR/PolynomialOps.cpp
  lib/Dialect/Polynomial/IR/PolynomialOps.td
  tests/Dialect/CKKS/Conversions/ckks_to_openfhe/ckks_to_openfhe.mlir
  tests/Dialect/CKKS/Conversions/ckks_to_openfhe/invalid.mlir
  tests/Dialect/CKKS/Conversions/ckks_to_openfhe/linear_polynomial.mlir
  tests/Dialect/CKKS/IR/ops.mlir
  tests/Dialect/CKKS/IR/verifier.mlir
  tests/Dialect/LWE/Conversions/lwe_to_polynomial/relin.mlir
  tests/Emitter/SimFHE/emit_simfhe.mlir
Labels: pull_ready
